.file-display-analysis {
  margin: 20px;
  margin-left: 20px;
}

.file-analysis-upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.file-analysis-upper-container button {
  display: flex;
  align-items: center;
  background-color: #5f55e6;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.file-name-analysis {
  font-weight: bold;
}

.file-analysis-main-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dropzone-container {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  margin-right: 20px;
  transition: width 0.3s ease-in-out; /* Smooth transition */
}

.chart-icons-container>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
}

.chart-icons-container>h1{
  text-decoration: none;
  font-size: 25px;
  text-align: center;
}

.chart-icons-container >div> div {
  flex: 1 1 calc(50% - 10px);
  width: 150px;
  height: 100px;
}

.table-container {
  width: 25%;
}

.scrollable-table {
  height: 400px;
  overflow: auto;
}

.file-table-analysis {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
}

.file-table-analysis th {
  background-color: #4caf50;
  color: white;
  padding: 5px;
}

.file-table-analysis td,
.file-table-analysis th {
  border: 1px solid #ddd;
  padding: 5px;
}

.file-table-analysis tr:nth-child(even) {
  background-color: #f2f2f2;
}

.file-table-analysis tr:hover {
  background-color: #ddd;
}

.toggle-btn {
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.aggregate-functions-container {
  margin-top: 20px;
}

.aggregate-results-container {
  margin-top: 20px;
  width: 100%;
}

.aggregate-results-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.aggregate-results-table th,
.aggregate-results-table td {
  border: 1px solid #ddd;
  padding: 5px;
}

.aggregate-results-table th {
  background-color: #4caf50;
  color: white;
}

.aggregate-results-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.aggregate-results-table tr:hover {
  background-color: #ddd;
}

.chart-container {
  position: relative; /* Ensure toggle button is positioned correctly */
  background: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px; /* Ensure there's space between charts */
}

.chart-container.hidden {
  display: none; /* Hide chart when the 'hidden' class is added */
}

.toggle-btn-chart {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.filter-and-table-container{
  display: flex;
  flex-direction: row;
}
.filter-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-style:solid;
  border-width: 0.5px;
  border-color: gray;
  width: 300px;
}