.file-display-analysis {
  margin: 20px;
  margin-left: 20px;
}

.file-analysis-upper-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.file-analysis-upper-container button {
  display: flex;
  align-items: center;
  background-color: #5f55e6;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.file-name-analysis {
  font-weight: bold;
}

.file-analysis-main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.upper-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dropzone-container {
  width: 70%;
  margin-right: 20px;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
}

.chart-icons-container {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px; /* Reduced height for the chart icons */
}

.chart-icons-container > div {
  flex: 1 1 calc(50% - 10px);
  margin: 5px;
}

.table-container {
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
}

.file-table-analysis {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
}

.file-table-analysis th {
  background-color: #4caf50;
  color: white;
  padding: 5px;
}

.file-table-analysis td,
.file-table-analysis th {
  border: 1px solid #ddd;
  padding: 5px;
}

.file-table-analysis tr:nth-child(even) {
  background-color: #f2f2f2;
}

.file-table-analysis tr:hover {
  background-color: #ddd;
}

/* Additional styling for charts */
.dropzone-container > div {
  padding: 15px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #f4f4f4;
  border: 2px dashed #ccc;
  color: #999;
  font-style: italic;
}
