.import-data-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

.import-data-btn-container > button:nth-of-type(1){
    color: white;
  background-color: #4f34eb;
  width: max-content;
  padding: 6px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
  align-self: flex-end;
}

.import-data-btn-container > button:nth-of-type(2) {
  color: white;
  background-color: #eb4034;
  width: max-content;
  padding: 6px;
  border-radius: 4px;
  border-style: solid;
  border-width: 0px;
  align-self: flex-end;
}
